$red: #f00;
$white: #fff;

// theme color variables
// #00ff00	(0,255,0)
// #00ee00	(0,238,0)
// #00cd00	(0,205,0)
// #008b00	(0,139,0)
// #006400	(0,100,0)

$bg-green-light: #00ff00 ;
$bg-green-primary: #00cd00 ;
$bg-green-dark: #008b00 ;

// Layout variables
  @function min-main-height($vh) {
  $total: $header-height + $footer-height;
  $height: calc(#{$vh} - #{$total});
  @return $height;
}

$header-height: 64px;
$footer-height: 64px;
$main-min-height: min-main-height(100vh);
