@import "src/client/styles/variable";

.user.page {
    align-items: center;
    display: flex;
    justify-content: center;

    .name {
        font-size: 64px;
    }

    // TODO move to user management page
    // margin: 32px 0px 32px 64px;
}
