@import 'src/client/styles/variable';

.user-card-grid {
  width: 100%;
  max-width: $max-width-1280;
  margin: 24px auto 0;
}

.user-card {
  width: 280px;
  margin: 12px auto;
  -webkit-box-shadow: 6px 5px 14px 2px rgba(76, 175, 80, 0.55);
  box-shadow: 6px 5px 14px 2px rgba(76, 175, 80, 0.55);

  &.MuiPaper-rounded {
    border-radius: 12px;
  }

  > div {
    padding: 0px 16px;
  }

  .card-header-actions {
    position: relative;
    //height: 32px;
    padding: 0 4px;

    button {
      padding: 8px;
    }
  }
  .card-header {
    display: flex;
  }

  .card-avatar {
    width: auto;
    margin: 12px;

    .MuiAvatar-root {
      height: 64px;
      width: 64px;
    }

    img {
      margin: 0 auto;
    }
  }

  .card-info {
    margin: 0 auto;
    flex-direction: row;
    width: 100%;
  }

  .card-content {
    margin: 12px auto 0;
    div {
      width: 100%;
    }
  }

  .card-actions {
    padding: 0 4px;

    button {
      padding: 8px;
    }
  }
}

.fab.add-user-btn {
  background-color: $bg-red-primary;
  color: $white;

  &:hover {
    background-color: $bg-red-light;
  }

  &.hidden {
    display: none;
  }

  svg {
    font-size: 28px;
  }
}

.invite-user-dialog {
  .MuiPaper-root {
    height: 600px;
  }

  .MuiDialogTitle-root {
    color: $white;
    background-color: $bg-blue-dark;
  }

  .MuiDialogContent-root .MuiGrid-item {
    padding: 12px 0;
  }

  .MuiFormLabel-root {
    width: auto;
    padding: 0 4px 0;
    background-color: transparent;
  }

  .MuiSelect-root {
    background-color: $white;
    &:focus {
      background-color: $white;
    }
  }

  .role-select {
    .MuiFormLabel-root {
      background: $white;
    }
  }
  .MuiInputBase-root {
    min-width: 240px;
    background-color: $white;
  }

  .invite-url {
    .MuiInputBase-root {
      background-color: $bg-grey-light;
      color: $bg-grey-primary;
    }
  }

  .copy-btn {
    position: relative;
    width: auto;
    float: right;
    top: -46px;
    right: 0px;
  }
  .clear {
    color: $bg-green-dark;
  }
  .create {
    color: $bg-blue-dark;
  }
  .edit {
    color: $bg-orange-dark;
  }
  .invite {
    color: $bg-blue-dark;
  }
  .cancel {
    color: $bg-red-dark;
  }
}

[aria-labelledby='role_select_input_label'] {
  min-width: 240px;
}

.register.page,
.login.page {
  align-items: center;
  display: flex;
  justify-content: center;
}

.register-form-card,
.login-form-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 10%;

  .MuiCardContent-root {
    padding: 24px;
  }

  .avatar {
    background-color: $red;
    color: $white;
    margin: 8px auto;
  }

  .title {
    text-align: center;
  }

  form {
    margin: 24px 0 0 0;
    width: 100%;

    [type='submit'] {
      margin: 16px 0;
    }

    a {
      color: $white;
    }
  }
  .other-action {
    a {
      color: $black;
      text-decoration: underline;
    }
  }
}