@import 'src/client/styles/variable';

.device.page {
  .device-page-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .device-breadcrumbs {
    margin: 24px 24px 12px 36px;

    .MuiBreadcrumbs-ol {
      :hover {
        text-decoration: underline;
        cursor: pointer;
      }

      > :last-child {
        a {
          color: $text-green-dark;
        }
      }
    }
    .MuiBreadcrumbs-li {
      a {
        color: $black;
        text-decoration: none;
      }
    }
  }

  .device-topology-tabs {
    margin-right: 36px;

    .MuiTab-root {
      min-width: 64px;
    }
    .MuiTabs-flexContainer {
      button {
        padding: 4px 0 0;

        &[aria-selected='true'] {
          border-bottom: solid 4px $bg-green-primary;
        }
      }
    }
    .MuiTabs-indicator {
      display: none;
    }
  }

  .device-page-content {
    > .MuiCard-root {
      height: calc(#{$main-min-height} - 72px);
      margin: 0 16px;
      border-radius: 8px;
      display: flex;
      align-items: stretch;
    }

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      margin-top: 8px;
      padding: 12px;

      > div {
        // display: flex;
        border: 2px solid $bg-green-primary;
        border-radius: 8px;
      }
    }

    .device-tool-box {
      width: 24%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      overflow: hidden;
    }

    .topology-content {
      width: 74%;
      overflow: hidden;
      overflow-y: auto;
    }
  }

  // Tool box

  .toolbox-tabs {
    // Tab Buttons
    .MuiTab-root {
      min-width: 48px;
      overflow: hidden;
    }

    .MuiTabs-flexContainer {
      display: flex;
      justify-content: space-around;
      border-bottom: 1px solid $bg-green-primary;

      button {
        padding: 4px 0 0;

        .MuiSvgIcon-root {
          width: 30px;
          height: 30px;
        }

        &[aria-selected='true'] {
          border-bottom: solid 4px $bg-green-primary;
        }
      }
    }
    .MuiTabs-indicator {
      display: none;
    }
  }

  .toolbox-panels {
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    margin-top: 8px;

    .MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label {
      background-color: $bg-green-primary;
    }
    .MuiTypography-root {
      white-space: nowrap;
    }

    .tabpanel {
      height: 100%;
    }
  }

  .space-tree-view {
    .is-over {
      background-color: $bg-green-primary;
    }

    .can-drop {
      background-color: $bg-green-dark;
    }

    .cannot-drop {
      background-color: $bg-red-light;
    }
  }

  // device template
  .device-category-filter {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    .MuiButton-root {
      min-width: 20%;
      width: 20%;
      padding: 0;
    }
  }

  .device-template-card {
    margin: 8px;
    border: 2px solid $bg-green-primary;

    &:hover {
      box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.3);
    }

    > .MuiCardContent-root {
      padding: 4px 8px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      > div {
        white-space: nowrap;
        overflow: hidden;
      }

      .info {
        > div {
          padding: 2px 0;
          vertical-align: middle;
        }
      }

      .icon {
        img {
          max-width: 64px;
        }
      }
    }
    .card-header {
      padding: 4px 8px;
    }
    .card-footer {
      text-align: right;
    }
  }

  // space template
  .space-template-list {
    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  .space-template-card {
    margin: 4px 4px;
    border: 2px solid $bg-green-primary;
    //min-width: 45%;
    width: 46%;

    &:hover {
      box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.3);
    }

    > .MuiCardContent-root {
      padding: 4px 8px;
      display: flex;
      justify-content: center;

      .info {
        > div {
          padding: 2px 0;
          vertical-align: middle;
        }
      }

      .icon > img {
        max-width: 64px;
      }
    }
    .card-header {
      padding: 4px 8px;
      text-align: center;
    }
    .card-footer {
      text-align: right;
    }
  }

  // device topology cards
  input[type='radio']:checked {
    + label > .space-card {
      border: 2px solid $bg-green-dark;
      box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.3);
    }
  }
  .root-card {
    .card-header {
      border-bottom: 2px solid $bg-green-primary;
      display: flex;
      flex-direction: row;
      // justify-content: space-between;
      align-items: center;
      height: 36px;
      margin: 0 8px;
      justify-content: space-between;
    }
  }

  // cards
  .space-card,
  .device-card {
    border: 2px solid $bg-green-primary;
    margin: 16px;
    pointer-events: auto;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
    min-height: 320px;

    &:hover {
      box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.3);
    }

    &.is-over {
      background-color: $bg-green-primary;
    }

    &.can-drop {
      background-color: $bg-green-dark;
    }

    &.cannot-drop {
      background-color: $bg-red-light;
    }

    .card-header {
      // border-bottom: 2px solid $bg-green-primary;
      // display: flex;
      // flex-direction: row;
      // align-items: center;
      // height: 36px;
      justify-content: space-between;
    }

    > .MuiCardContent-root {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .leaves {
        width: 65%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: space-between;
      }
      .preview {
        width: 35%;
        > img {
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }

  .space-xs-card,
  .device-xs-card {
    width: 180px;
    margin: 8px;
    border: 2px solid $bg-green-primary;
    // pointer-events: none;

    &:hover {
      box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.3);
    }

    > .MuiCardContent-root {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      height: 48px;
      padding: 4px 8px;

      > div {
        white-space: nowrap;
      }
    }
    .card-footer {
      text-align: right;
    }
  }

  .device-card,
  .device-xs-card {
    background-color: $bg-green-light;

    &.is-over {
      background-color: $bg-green-primary;
    }

    &.can-drop {
      background-color: $bg-green-dark;
    }

    &.cannot-drop {
      background-color: $bg-red-light;
    }

    .footer-actions {
      .MuiIconButton-root {
        padding: 2px;
      }
    }
  }

  .device-card,
  .device-xs-card,
  .device-template-card {
    &.GW {
      border-color: $device-GW;
      border-width: $device-border-width;
    }

    &.A {
      border-color: $device-A;
      border-width: $device-border-width;
    }

    &.SP {
      border-color: $device-SP;
      border-width: $device-border-width;
    }

    &.S {
      border-color: $device-S;
      border-width: $device-border-width;
    }

    &.SD {
      border-color: $device-SD;
      border-width: $device-border-width;
    }

    &.CPB {
      border-color: $device-CPB;
      border-width: $device-border-width;
    }

    &.is-bound {
      border-color: $device-is-bound;
      border-width: $device-border-width;
    }
  }
}
