@import 'src/client/styles/variable';

.device.page {
  .device-page-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .device-breadcrumbs {
    margin: 24px 24px 12px 36px;

    .MuiBreadcrumbs-ol {
      :hover {
        text-decoration: underline;
        cursor: pointer;
      }

      > :last-child {
        a {
          color: $text-green-dark;
        }
      }
    }
    .MuiBreadcrumbs-li {
      a {
        color: $black;
        text-decoration: none;
      }
    }
  }

  .device-topology-tabs {
    margin-right: 36px;

    .MuiTab-root {
      min-width: 64px;
    }
    .MuiTabs-flexContainer {
      button {
        padding: 4px 0 0;

        &[aria-selected='true'] {
          border-bottom: solid 4px $bg-green-primary;
        }
      }
    }
    .MuiTabs-indicator {
      display: none;
    }
  }

  .device-page-content {
    > .MuiCard-root {
      height: calc(#{$main-min-height} - 72px);
      margin: 0 16px;
      border-radius: 8px;
      display: flex;
      align-items: stretch;
    }

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      margin-top: 8px;
      padding: 12px;

      > div {
        // display: flex;
        border: 2px solid $bg-green-primary;
        border-radius: 8px;
      }
    }

    .device-tool-box {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      overflow: hidden;
    }

    .topology-content {
      width: 78%;
      overflow: hidden;
      overflow-y: auto;
    }
  }

  // Tool box

  .toolbox-tabs {
    // Tab Buttons
    .MuiTab-root {
      min-width: 48px;
      overflow: hidden;
    }

    .MuiTabs-flexContainer {
      display: flex;
      justify-content: space-around;
      border-bottom: 1px solid $bg-green-primary;

      button {
        padding: 4px 0 0;

        .MuiSvgIcon-root {
          width: 30px;
          height: 30px;
        }

        &[aria-selected='true'] {
          border-bottom: solid 4px $bg-green-primary;
        }
      }
    }
    .MuiTabs-indicator {
      display: none;
    }
  }

  .toolbox-panels {
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    margin-top: 8px;

    .MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label {
      background-color: $bg-green-primary;
    }
    .MuiTypography-root {
      white-space: nowrap;
    }

    .tabpanel {
      height: 100%;
    }
  }

  .space-tree-view {
    .is-over {
      background-color: $bg-green-primary;
    }

    .can-drop {
      background-color: $bg-green-dark;
    }

    .cannot-drop {
      background-color: $bg-red-light;
    }
  }

  // device template

  .dotted {
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    border-bottom-color: $bg-green-light;
    margin: 2px 8px;
  }

  .device-category-filter {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    .MuiButton-root {
      min-width: 48px;
      width: 48px;
      //max-width: 48px;
      padding: 0;
    }
  }

  .device-protocol-filter {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    .MuiButton-root {
      min-width: 48px;
      width: 48px;
      //max-width: 48px;
      padding: 0;
    }
  }

  .device-template-list {
  }

  .device-template-card {
    margin: 8px;
    border: 2px solid $bg-green-primary;

    &:hover {
      box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.3);
    }

    > .MuiCardContent-root {
      padding: 4px 8px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      > div {
        white-space: nowrap;
        overflow: hidden;
      }

      .info {
        width: auto;
        > div {
          padding: 2px 0;
          vertical-align: middle;
        }
      }

      .preview {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .image,
      .icon {
        img {
          width: 100%;
          max-width: 100px;
        }
      }
    }
    .card-header {
      padding: 4px 8px;
    }
    .card-footer {
      text-align: right;
    }
  }

  // space template
  .space-template-list {
    .cards {
      display: flex;
      flex-wrap: wrap;
      //justify-content: flex-start;
      justify-content: space-between;
    }
  }

  .space-template-card {
    margin: 4px 4px;
    border: 2px solid $bg-green-primary;
    //min-width: 45%;
    width: 45%;

    &:hover {
      box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.3);
    }

    > .MuiCardContent-root {
      padding: 4px 8px;
      display: flex;
      justify-content: center;

      .info {
        > div {
          padding: 2px 0;
          vertical-align: middle;
        }
      }

      .icon > img {
        max-width: 64px;
      }
    }
    .card-header {
      padding: 4px 8px;
      text-align: center;
    }
    .card-footer {
      text-align: right;
    }
  }

  // device topology cards
  input[type='radio']:checked {
    + label > .space-card {
      border: 2px solid $bg-green-dark;
      box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.3);
    }
  }

  .root-card {
    > .card-header {
      border-bottom: 2px solid $bg-green-primary;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 36px;
      margin: 0 8px;
      justify-content: space-between;
    }
  }

  // cards
  .space-card,
  .device-card {
    border: 2px solid $bg-green-primary;
    margin: 16px;
    pointer-events: auto;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    min-height: 320px;

    &:hover {
      box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.3);
    }

    > .card-header,
    > .card-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 36px;
      margin: 0 8px;
      justify-content: space-between;
    }

    > .card-header {
      border-bottom: 2px solid $bg-green-primary;
    }

    > .card-footer {
      border-top: 2px solid $bg-green-primary;
    }

    // card content
    > .MuiCardContent-root {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .leaves {
        width: 70%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: space-between;
      }
      .preview {
        width: 35%;
        > img {
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }

  .space-xs-card,
  .device-xs-card {
    width: 180px;
    margin: 8px;
    border: 2px solid $bg-green-primary;
    // pointer-events: none;

    &:hover {
      box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.3);
    }

    > .card-header,
    > .card-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 28px;
      margin: 0 4px;
      white-space: nowrap;

      .MuiIconButton-root {
        padding: 2px;
      }
    }

    > .card-header {
      justify-content: space-between;
      border-bottom: 1px solid $bg-green-primary;
    }

    > .card-footer {
      border-top: 1px solid $bg-green-primary;
      justify-content: space-between;
    }

    // card content
    > .MuiCardContent-root {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 48px;
      padding: 4px 8px;

      > div {
        white-space: nowrap;
      }
    }
  }

  .device-card,
  .device-xs-card {
    background-color: $bg-green-light;
  }

  // cards DND actions
  .space-card,
  .space-xs-card,
  .device-card,
  .device-xs-card {
    &.is-over {
      background-color: $bg-green-primary;
    }

    &.can-drop {
      background-color: $bg-green-dark;
    }

    &.cannot-drop {
      background-color: $bg-red-light;
    }
  }

  // device cards color
  .device-card,
  .device-xs-card,
  .device-template-card {
    &.GW {
      border-color: $device-GW;
      border-width: $device-border-width;
    }

    &.A {
      border-color: $device-A;
      border-width: $device-border-width;
    }

    &.SP {
      border-color: $device-SP;
      border-width: $device-border-width;
    }

    &.S {
      border-color: $device-S;
      border-width: $device-border-width;
    }

    &.SD {
      border-color: $device-SD;
      border-width: $device-border-width;
    }

    &.CPB {
      border-color: $device-CPB;
      border-width: $device-border-width;
    }

    &.is-bound {
      border-color: $device-is-bound;
      border-width: $device-border-width;
    }
  }
}

.edit-device-setting-dialog {
  .MuiPaper-root {
    width: 90%;
    max-width: 90%;
    height: 90%;
  }

  .MuiDialogTitle-root {
    color: white;
    background-color: #2962ff;
  }

  .MuiDialogActions-root {
    border-top: 1px $bg-grey-light solid;
  }

  form {
    width: 100%;

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0;
    }

    .MuiFormControl-root {
      margin: 0 4px;
      width: auto;
    }

    label {
      font-weight: bold;
    }

    input {
      padding: 10px 12px 8px;
    }

    input:disabled {
      background-color: $bg-grey-light;
    }

    .MuiFormHelperText-root {
      text-align: right;
      margin: 0 2px 0 0;
    }
  }

  .device-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 8px 8px;
    align-items: center;

    > .info {
      width: 65%;

      .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
          color: white;
          margin: 0 4px;
        }

        .save {
          background-color: $bg-orange-primary;
        }
        .reset {
          background-color: $bg-grey-primary;
        }
      }
    }

    > .preview {
      width: 35%;
      overflow: hidden;
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      > .image {
        width: 320px;
        min-height: 172px;
        max-height: 320px;
        //border: 1px dotted grey;
      }

      > .icon {
        position: absolute;
        width: 80px;
        height: 80px;
        top: 0;
        right: 0;
        //border: 1px dotted grey;
      }
    }

    // network info
    .network-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      margin: 4px 0;

      .is-bound {
        width: 58px;
        margin: 0 -12px 0 12px;
      }
      .network-cards {
        display: flex;
        flex-direction: column;
        margin: 8px 0 0;
      }
      .network-card {
        padding: 8px 0;
        &.primary {
        }
      }
    }
  }

  .other-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    > div {
      margin-right: 12px;
    }
  }

  .device-operations {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 8px;

    button {
      //color: white;
      background-color: $bg-grey-light;
      min-width: 160px;
      margin: 0 0 4px 0;
    }
  }

  .device-detail {
    display: flex;
    flex-direction: row;
    height: 100%;

    .project-info,
    .space-info,
    .parent-info,
    .software-info,
    .specification {
      border: $bg-green-primary solid 1px;
      border-radius: 8px;
      padding: 8px 8px 8px 8px;
      margin: 0 16px 0 0;

      > div {
        display: flex;
        margin: 4px 0;
      }

      .name {
        min-width: 120px;
        &:after {
          content: ' :';
        }
      }
      .version,
      .value {
        white-space: nowrap;
        overflow: hidden;
        max-width: 160px;
      }
    }

    .space-info {
      .value {
        max-width: 120px;
      }
    }

    .software-info {
      .name {
        width: 140px;
      }
    }

    .specification {
      .name {
        width: 120px;
      }
      .value {
        width: 100%;
        text-align: right;
      }
    }

    .parent-info {
      .name {
        min-width: 88px;
      }
    }
  }

  .device-config {
    margin: 12px 8px;
  }

  .KNX-group {
    padding-top: 12px;
    padding-bottom: 32px;

    .group-label {
      position: relative;
      background-color: white;
      top: 8px;
      left: 12px;
      font-weight: bold;
      padding: 0 8px;
    }
    .group-label-second {
      position: relative;
      background-color: white;
      top: 8px;
      left: 12px;
      padding: 0 8px;
      color:gray;
      font-size: small;
    }

    .actions {
      text-align: right;
      button {
        color: white;
        margin: 8px 4px;
      }

      .save {
        background-color: $bg-orange-primary;
      }
      .reset {
        background-color: $bg-grey-primary;
      }
    }
  }

  .KNX-info {
    display: flex;
    flex-direction: row;

    .MuiTextField-root {
      margin: 12px;
    }

    .address-info {
      margin-right: 8px;
    }

    .address-group {
      height: calc(100% - 34px);

      label {
        white-space: nowrap;
      }

      .address {
        border: $bg-green-primary solid 1px;
        border-radius: 8px;
        padding: 8px 0;
        height: 100%;
      }
    }
    .filters-info {
      width: 100%;
    }

    .filters {
      display: flex;
      flex-direction: column;

      border: $bg-green-primary solid 1px;
      border-radius: 8px;
      padding: 8px 0;
    }

    .filter-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 16px;

      > label {
        white-space: nowrap;
        min-width: 40px;

        &:after {
          content: ' :';
        }
      }

      .filter {
        display: flex;
        flex-direction: row;
        margin: 0 8px;
        width: 100%;

        .MuiTextField-root {
          width: 100%;
        }
      }
    }
  }

  .KNX-setting {
    //border: $bg-green-primary solid 1px;
    //border-radius: 8px;
    //margin: 12px 0;

    table {
      border: $bg-green-primary solid 1px;
      border-radius: 8px;
      width: 100%;
      min-height: 80px;
      margin-top: 24px;
    }

    thead {
      .title {
        border-bottom: $bg-green-light solid 1px;
      }
    }

    thead,
    tfoot {
      background-color: $bg-green-primary;

      th {
        padding: 8px 0;
        text-align: center;
        vertical-align: center;
        white-space: nowrap;

        border-right: $bg-green-primary solid 1px;
        &:last-child {
          border-right: none;
        }
      }
    }

    tfoot {
      display: none;
    }

    tbody {
      tr {
        border-bottom: $bg-green-primary solid 1px;

        &:last-child {
          border-bottom: none;
        }

        &.odd {
          background-color: $bg-green-light;
        }
      }

      td {
        white-space: nowrap;
        overflow: hidden;

        border-right: $bg-green-primary solid 1px;
        &:last-child {
          //border-right: none;
        }

        &.center {
          text-align: center;
          vertical-align: middle;
        }
      }
    }

    .MuiOutlinedInput-inputMarginDense {
      padding-top: 4px;
      padding-bottom: 4px;
    }

    .MuiOutlinedInput-root {
      margin: 0 4px;
    }

    .MuiFormControlLabel-root {
      margin: 0;
    }

    .Mui-checked {
      color: $bg-green-dark;
    }

    .Mui-disabled {
      color: $bg-grey-primary;
    }

    .response {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .res {
        padding: 0 0 0 8px;

        svg {
          color: $bg-red-primary;
          transform: rotate(180deg);
        }
      }

      .req {
        padding: 0 0 0 8px;

        svg {
          color: $bg-red-primary;
        }
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0 4px 0;
  }
}

// icon-selector
.icon-selector {
  .MuiSelect-select {
    > div {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 20px;
        margin-right: 4px;
      }
    }
  }
}
ul[aria-labelledby='icon-selector-label'] {
  //background-color: red;
  max-height: 640px;
  li {
    > div {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 20px;
        margin-right: 4px;
      }
    }
  }
}
